<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oops. Something Went Wrong | URL Shortener</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <header>
      <h1>Oops. Something Went Wrong</h1>
    </header>
    <main id="app">
      <div class="mt-6 text-2xl">
        {{ .error }}
        <a href="/">Want to shorten another?</a>
      </div>
    </main>
    <footer>
      <div class="copyright">copyright &copy; Twilio inc. Created by Matthew Setter 2022.</div>
    </footer>
  </body>
</html>
